<html>
	<head>
		<script type="text/javascript" src="js/jquery-2.0.3.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>

		<script type="text/javascript" src="js/underscore-min.js"></script>
		<script type="text/javascript" src="js/backbone-min.js"></script>


		<link rel="stylesheet" type="text/css" href="css/bootstrap-glyphicons.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">

		<script type="text/javascript" src="js/includes/loader.js" charset="utf-8"></script>
		<title>MangaReader Title</title>
	</head>
	<body>
		<header>
			<div class="navbar">
				<div class="container">
					<!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

					<a class="navbar-brand" href="#">Title</a>

					<div class="nav-collapse collapse navbar-responsive-collapse">
						<ul class="nav navbar-nav">
							<li id="page-home"><a href="#!/home">Home</a></li>
							<li id="page-search"><a href="#!/search">Search</a></li>
						</ul>
					</div><!-- /.nav-collapse -->
				</div><!-- /.container -->
			</div><!-- /.navbar -->
		</header>
		<article class="container"></article>
		<footer>
		</footer>
		<script type="text/template" id="template-home">
			template-home
		</script>
		<script type="text/template" id="template-search">
			<div class="pull-left col-5">
				<div class="input-group row">
					<input id="searchMangaName" value="naruto" type="text" class="form-control" placeholder="Manga name">
					<span class="input-group-btn">
						<button id="action-mangaSearch" class="btn btn-default" type="button">Go!</button>
					</span>
				</div>
				<div class="row">
					<ul class="list-group">
						<% _.each(ReaderObj.plugins, function(data,i){ %>
							<li class="list-group-item">
								<input type="checkbox" class="mangahost" id="<%=i%>" checked/>
								<img src="<%=data.iconPath%>"></img>
								<%=data.name%>
							</li>
						<% }); %>
					</ul>
				</div>
			</div>
			<div class="pull-right col-5" id="search-results"></div>
		</script>
		<script type="text/template" id="template-search-result">
			<% _.each(data, function(sub_data,i){ %>
				<div class="row"><h3><%= i %></h3></div>
				<% _.each(sub_data, function(manga){%>
					<div>
					<a class="manga-link" href="<%= ReaderObj.plugins[i].host + manga.manga_url %>"><%= manga.title %></a>
					</div>
				<% }); %>
			<% }); %>
		</script>
	</body>
</html>