<html>
	<head>
		<script type="text/javascript" src="js/jquery-2.0.3.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>

		<script type="text/javascript" src="js/underscore-min.js"></script>
		<script type="text/javascript" src="js/backbone-min.js"></script>


		<link rel="stylesheet" type="text/css" href="css/bootstrap-glyphicons.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">

		<script type="text/javascript" src="js/includes/const.js"></script>
		<script type="text/javascript" src="js/includes/function.js"></script>
		<script type="text/javascript" src="js/includes/init.js"></script>
		<script type="text/javascript" src="js/includes/loader.js"></script>
	</head>
	<body>
		<header>
			<div class="navbar">
				<div class="container">
					<!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

					<a class="navbar-brand" href="#">Title</a>

					<div class="nav-collapse collapse navbar-responsive-collapse">
						<ul class="nav navbar-nav">
							<li><a href="#!/home">Home</a></li>
							<li><a href="#!/search">Search</a></li>
						</ul>
					</div><!-- /.nav-collapse -->
				</div><!-- /.container -->
			</div><!-- /.navbar -->
		</header>
		<article class="container"></article>
		<footer>
		</footer>
		<script type="text/template" id="template-home">
			template-home
		</script>
		<script type="text/template" id="template-search">
			<div class="input-group">
				<span class="input-group-addon">@</span>
				<input type="text" class="form-control" placeholder="Username">
			</div>
			<div class="input-group">
				<ul class="list-group">
					<% _.each(plugins, function(data,i){ %>
						<li class="list-group-item">
							<input type="checkbox" class="host" id="search_<%=i%>" checked/>
							<img src="<%=data.iconPath%>"></img>
							<%=data.name%>
						</li>
					<% }); %>
				</ul>
			</div>
		</script>
	</body>
</html>