<html>
	<head>
		<script type="text/javascript" src="js/jquery-2.0.3.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.js"></script>

		<script type="text/javascript" src="js/underscore-min.js"></script>
		<script type="text/javascript" src="js/backbone-min.js"></script>


		<link rel="stylesheet" type="text/css" href="css/bootstrap-glyphicons.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">

		<script type="text/javascript" src="js/includes/loader.js" charset="utf-8"></script>
		<title>MangaReader Title</title>
		<style type="text/css">
			.modal-content {
				min-height: 100%;
			}
			.modal-dialog { 
				 /* position: fixed; 
					right: 1%; 
					left: 1%; 
					
					margin: 0; 
					*/
					padding-top: 0px;
					width: auto; 
					height: auto;
			}
			.modal-body { 
					/*height: 60%; */
			}
		</style>
	</head>
	<body style="background-color: #D4D4D4;">
		<header>
			<nav class="navbar navbar-default" role="navigation">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#!/home">MangaReaderApp</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav">
						<li id="page-home"><a href="#!/home">Home</a></li>
						<li id="page-search"><a href="#!/search">Search</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</nav>
		</header>
		<article class="container"></article>
		<footer>
		</footer>
		<script type="text/template" id="template-home">
			template-home
		</script>
		<script type="text/template" id="template-manga-title">
			<div class="pull-left col-sm-5 row">
				<div id="carousel-manga-image" class="carousel slide">
					<!-- Indicators -->
					<!--
					<ol class="carousel-indicators">
						<li data-target="#carousel-manga-image" data-slide-to="0" class="active"></li>
						<li data-target="#carousel-manga-image" data-slide-to="1"></li>
						<li data-target="#carousel-manga-image" data-slide-to="2"></li>
					</ol>
					-->

					<!-- Wrapper for slides -->
					<div class="carousel-inner">
						<% _.each(mangaInfo.titleImagesArr, function(img,i){ %>
							<div class="item <% if (i == 0) {%>active<%} %>">
								<img src="<%=img%>" alt="" >
							</div>
						<% });%>
					</div>

					<!-- Controls -->
					<a class="left carousel-control" href="#carousel-manga-image" data-slide="prev">
						<span class="icon-prev"></span>
					</a>
					<a class="right carousel-control" href="#carousel-manga-image" data-slide="next">
						<span class="icon-next"></span>
					</a>
				</div>
			</div>
			<div class="pull-right col-sm-7 row">
				<div class="well">
					<%=mangaInfo.description%>
				</div>
				<div class="pre-scrollable well">
					<ul>
					<% _.each(mangaInfo.chaptersArray,function(data, i){ %>
						<li>
							<a href="#!/manga/<%=hostname%>/<%=mangaPath%>/<%=data.volum%>/<%=data.chapter%>">
								<%=data.title%>
							</a>
						</li>
					<% }) %>
					</ul>
				</div>
			</div>
			<!-- Modal -->
			<!-- Button trigger modal -->
			<div class="modal fade" id="manga-window" data-back_url="!/manga/<%=hostname%>/<%=mangaPath%>">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<div class="row">
								<div class="col-md-4">
									<select class="form-control">
									<% _.each(mangaInfo.chaptersArray,function(chapter, i){ %>
										<option value="<%=chapter.url%>"><%=chapter.title%></option>
									<% }); %>
									</select>
								</div>
								<div class="col-md-2">
									<div class="input-group">
										<span class="input-group-btn">
											<button type="button" class="btn btn-default">Prev</button>
										</span>
										<select class="form-control">
											<% _.each(pages,function(_page, i){ %>
												<option value="<%=i+1%>"><%=i+1%></option>
											<% }); %>
										</select>
										<span class="input-group-btn">
											<button type="button" class="btn btn-default">Next</button>
										</span>
									</div>
								</div>
								<div class="col-md-1 pull-right">
									<span class="close glyphicon glyphicon-remove" data-dismiss="modal" aria-hidden="true"></span>
								</div>
							</div>
						</div>
						<div class="modal-body">
							<div id="carousel-manga-block" class="carousel slide" data-interval="false">
								<!-- Wrapper for slides -->
								<div class="carousel-inner">
									<%=manga_pages%>
								</div>
								<!-- Controls -->
								<a class="left carousel-control" href="#carousel-manga-block" data-slide="prev">
									<span class="icon-prev"></span>
								</a>
								<a class="right carousel-control" href="#carousel-manga-block" data-slide="next">
									<span class="icon-next"></span>
								</a>
							</div>
						</div>
						<!--<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Save changes</button>
						</div>-->
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</script>
		<script type="text/template" id="template-manga-window">
			<% _.each(pages, function(_page ,i){ %>
				<div class="item <% if (i == 0) {%>active<%} %>">
					<center>
						<img style="width:100%" 
						<%if (i == 0 || i == 1 || i <= page) {%>src="<%=_page.url%>"<%}else{%>data-lazy-load-src="<%=_page.url%>"<%}%>
						
						alt="" >
					</center>
				</div>
			<% });%>
		</script>
		<script type="text/template" id="template-search">
			<div class="pull-left col-sm-6">
				<div class="input-group row">
					<input id="searchMangaName" value="<%= mangaName%>" type="text" class="form-control" placeholder="Manga name">
					<span class="input-group-btn">
						<button id="action-mangaSearch" class="btn btn-default" type="button">Go!</button>
					</span>
				</div>
				<div class="row">
					<ul class="list-group">
						<% _.each(ReaderObj.plugins, function(data,i){	%>
							<li class="list-group-item">
								<input type="checkbox" class="mangahost" id="<%=i%>" checked/>
								<img src="<%=data.iconPath%>" ></img>
								<%=data.name%>
							</li>
						<% }); %>
					</ul>
				</div>
			</div>
			<div class="pull-right col-sm-6" id="search-results"><%= searchResults %></div>
		</script>
		<script type="text/template" id="template-search-result">
			<% _.each(data, function(sub_data,i){ %>
				<div class="panel panel-default">
					<div class="panel-body"><H4><%= i %></H4></div>
					<div class="panel-footer">
					<ul class="list-unstyled">
					<% _.each(sub_data, function(manga){%>
						<div>
							<li>
								<span style="padding-bottom : 5px;" class="btn btn-xs glyphicon glyphicon-bookmark btn_add_manga" data-plugin="<%=i%>" data-manga="<%=manga.manga_url%>"></span>
								<a class="manga-link" href="#!/manga/<%= i + manga.manga_url %>"><%= manga.title %></a>
							</li>
						</div>
					<% }); %>
					</ul>
					</div>
				</div>
			<% }); %>
		</script>
	</body>
</html>